*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contenitore{
    width: 700px;
    margin: auto;
    /* border: 1px solid black; */

}

.rettangolo{
    width: 200px;
    display: inline-block;
    position: relative;
}

img{
    width: 100%;
}

.cuore{
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  margin-top: 10px;
  width: 30px;
  padding: 0 5px 5px 5px;
  /* text-align: center; */
}

.sconto-sostenibile{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.targa{
    color: white;
    font-size: 10px;
    padding: 2px;
    display: inline-block; 
}

.rosso{
    background-color: red;
}

.verde{
    background-color: green;
}

.marca{
    font-size: 8px;
}

.vestito{
    font-size: 8px;
}

.prezzo span:first-child{
    color: red;
}

.prezzo{
    font-size: 8px;
}
